* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: 'Pixel';
	src: url('/src/fonts/Pixel.ttf');
}

.conteudo {
	display: flex;
	align-items: center;
	flex-direction: column;
	background: linear-gradient(to bottom, #100761, #0e16f4);
	max-height: 100vh;
	color: #fff;
}

.conteudo > h1 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

[wm-flappy] {
	position: relative;
	border: 5px solid dodgerblue;
	height: 700px;
	margin: 15px;
	background-color: deepskyblue;
	overflow: hidden;

    
    
	max-width: 1200px;
    width: 100%;
}

.passaro {
	position: absolute;
	width: 60px;
	left: calc(50% - 30px);
}

.par-de-barreiras {
	position: absolute;
	top: 0;
	left: 200px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.barreira {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barreira .borda{
	height: 30px;
	width: 130px;
	background: linear-gradient(90deg, #639301, #a4e82e);
	border: 2px solid #000;
}

.barreira .corpo {
	height: 150px;
	width: 110px;
    background: linear-gradient(90deg, #639301, #a4e82e);
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}

.progresso {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: Pixel;
    font-size: 70px;
	z-index: 100;
}
